# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Assign it to a variable called users.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
df_users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep = '|',index_col='user_id')
df_users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### Discover what is the mean age per occupation

In [7]:
df_users.groupby('occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [5]:
df_users.age.mean()

34.05196182396607

### Discover the Male ratio per occupation and sort it from the most to the least

### For each occupation, calculate the minimum and maximum ages

In [16]:
df_users.groupby('occupation').age([min,max])

TypeError: 'SeriesGroupBy' object is not callable

### For each combination of occupation and gender, calculate the mean age

###  For each occupation present the percentage of women and men