# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Assign it to a variable called chipo.

In [4]:
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df_chipo = pd.read_csv(url, sep ='\t')

### See the first 10 entries

In [5]:
df_chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### What is the number of observations in the dataset?

In [10]:
# Solution 1
df_chipo.shape[0]

4622

In [11]:
# Solution 2
df_chipo.shape[1]

5

### What is the number of columns in the dataset?

In [12]:
df_chipo.shape[1]

5

### Print the name of all the columns.

In [13]:
df_chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### How is the dataset indexed?

In [15]:
df_chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Which was the most-ordered item?

In [24]:
df_chipo.value_counts()

order_id  quantity  item_name           choice_description                                                                                                                                                   item_price
926       1         Chicken Bowl        [Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Lettuce]]                                                                                   $8.75         3
724       1         Canned Soft Drink   [Coke]                                                                                                                                                               $1.25         3
1011      1         Canned Soft Drink   [Coke]                                                                                                                                                               $1.25         3
838       1         Chicken Soft Tacos  [Fresh Tomato Salsa, [Cheese, Sour Cream, Lettuce]]                                                                                                                  $8.75         2
1125      1         Chicken Burrito     [Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]                                                                                                                        $8.75         2
                                                                                                                                                                                                                          ..
623       1         Chicken Bowl        [Fresh Tomato Salsa (Mild), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]                                                                        $8.49         1
                                        [[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]  $8.49         1
624       1         Barbacoa Burrito    [[Fresh Tomato Salsa (Mild), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Sour Cream]]                                                              $8.99         1
625       1         Chicken Bowl        [Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]                                                                                                                        $8.75         1
1834      1         Chicken Salad Bowl  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]                                                                                                      $8.75         1
Length: 3335, dtype: int64

### For the most-ordered item, how many items were ordered?

### What was the most ordered item in the choice_description column?

### How many items were orderd in total?

### Turn the item price into a float

####a. Check the item price type

####b. Create a lambda function and change the type of item price

####c. Check the item price type

### How much was the revenue for the period in the dataset?

### How many orders were made in the period?

### What is the average revenue amount per order?

In [3]:
# Solution 1

In [4]:
# Solution 2

### How many different items are sold?