# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Assign it to a variable called chipo.

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df_chipo = pd.read_csv(url, sep ='\t')

### See the first 10 entries

In [2]:
df_chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### What is the number of observations in the dataset?

In [3]:
# Solution 1
df_chipo.shape[0]

4622

In [4]:
# Solution 2
df_chipo.shape[1]

5

### What is the number of columns in the dataset?

In [5]:
df_chipo.shape[1]

5

### Print the name of all the columns.

In [6]:
df_chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### How is the dataset indexed?

In [7]:
df_chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Which was the most-ordered item?

In [8]:
df_chipo.value_counts('item_name')

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Steak Salad                                4
Bowl                                       2
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
dtype: int64

### For the most-ordered item, how many items were ordered?

### What was the most ordered item in the choice_description column?

In [15]:
pd.DataFrame(df_chipo.choice_description.value_counts())

                                                    choice_description
[Diet Coke]                                                        134
[Coke]                                                             123
[Sprite]                                                            77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...                  42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...                  40
...                                                                ...
[Fresh Tomato Salsa (Mild), [Pinto Beans, Black...                   1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn...                   1
[Fresh Tomato (Mild), [Guacamole, Rice, Black B...                   1
[[Tomatillo-Green Chili Salsa (Medium), Tomatil...                   1
[Tomatillo Green Chili Salsa, [Rice, Fajita Veg...                   1

[1043 rows x 1 columns]

### How many items were orderd in total?

In [10]:
df_chipo.quantity.sum()

4972

### Turn the item price into a float

####a. Check the item price type

In [11]:
df_chipo.item_price.dtype

dtype('O')

####b. Create a lambda function and change the type of item price

In [12]:
df_chipo.item_price= df_chipo.item_price.str.replace('$','')

/var/folders/pq/69_jbdsx3n11hq2k3mhv13gm0000gn/T/ipykernel_15024/1597718147.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_chipo.item_price= df_chipo.item_price.str.replace('$','')

In [13]:
df_chipo.item_price=df_chipo.item_price.astype(float)

####c. Check the item price type

In [14]:
df_chipo.item_price.dtypes

dtype('float64')

### How much was the revenue for the period in the dataset?

In [36]:
revenue = (df_chipo.quantity*df_chipo.item_price).sum()
revenue

39237.02

### How many orders were made in the period?

In [32]:
orders = df_chipo.order_id.value_counts().count()
orders

1834

### What is the average revenue amount per order?

In [35]:
# Solution 1
#avearge revenue per order is the total revenue divided by the no of orders
revenue/orders

21.39423118865867

In [4]:
# Solution 2

### How many different items are sold?

In [17]:
df_chipo.item_name.value_counts().count()

50